* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#botao {
    margin-top: 40px;
}
.grid-item {
    height: calc(800px/16);
    width: calc(800px/16);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    margin: auto;
    margin-top: 80px;
    border: 1px solid black;
}